API_ID=12345
API_HASH="your_api_hash_here"
BOT_TOKEN="your_bot_token_here"
JW_TOKEN="your_jw_token_here"
ALLOWED_USERS="123456789,987654321"
MAX_CONCURRENT=3
DOWNLOAD_DIR="/tmp/downloads"
JW_API_URL="https://api.classplusapp.com/cams/uploader/video/jw-signed-url"
JW_CDN_HOST="cdn.jwplayer.com"
JW_USER_AGENT="Mobile-Android"
THUMBNAIL_PATH="thumb.jpg"
TASK_DELAY_SECONDS=2
SESSION_NAME="bot"
